@font-face {
	font-family: Epilogue;
	src: url("../fonts/Epilogue.ttf") format("truetype")
}
* {
	box-sizing: border-box;
	color: hsl(0, 0%, 41%);
	font-family: Epilogue;
	font-size: 15px;
	font-weight: 700;
}
.invisible {
	display: none;
}
.visible {
	display: flex;
}
.container {
	width: 1400px;
	margin: 20px auto;
	background-color: hsl(0, 0%, 98%);
}
/*Navigation section*/
.navigation {
	display: flex;
	height: 40px;
	position: relative;
}
.nav_logo {
	position: absolute;
	height: 26px;
	top: 8px;
	left: 40px;
}
.burger_menu_open,
.burger_grey_shaddow,
.burger_menu_close {
	display: none;
}
.nav_menu {
	position: absolute;
	left: 180px;
	top: 9px;
	margin: 0;
	padding: 0;
	width: 500px;
	display: flex;
	justify-content: space-between;
}
.nav_menu_item {
	position: relative;
	margin: 0;
	padding: 0;
	width: 70px;
	list-style: none;
}
.features_menu {
	position: absolute;
	padding: 5px 0 0 10px;
	width: 140px;
	top: 30px;
	height: 145px;
	left: -60px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 4px 3px hsl(0, 0%, 93%);
}
.features_menu li,
.company_menu li {
	list-style: none;
	padding-left: 10px;
	margin: 15px auto;
	font-weight: 400;
	height: 15px;
}
.features_menu img {
	margin-right: 10px;
	vertical-align: middle;

}
.company_menu {
	position: absolute;
	padding: 5px 0 0 10px;
	width: 110px;
	top: 30px;
	height: 110px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 4px 3px hsl(0, 0%, 93%);
}

.nav_menu_item:hover,
.nav_login:hover,
.nav_register:hover,
.company_menu:hover,
.features_menu:hover {
	color: hsl(0, 0%, 8%);
	border-color: hsl(0, 0%, 8%);
	cursor: pointer;
}

.nav_menu_feature_img {
	position: absolute;
	left: 71px;
	top: 5px;
}
.nav_menu_company_img {
	position: absolute;
	left: 75px;
	top: 5px;
}
.nav_login {
	position: absolute;
	top: 9px;
	left: 570px;
	letter-spacing: 1.7px;
}
.nav_register {
	position: absolute;
	width: 130px;
	height: 50px;
	top: -8px;
	left: 660px;
	border-radius: 20px;
	border-style: solid;
	border-color: hsl(0, 0%, 41%);
	text-align: center;
	padding-top: 15px;
	border-width: 3px;
}



/*Main content*/
article {
	width: 1150px;
	margin: 45px 0 0 160px;
	display: inline-flex;
	justify-content: space-between;
}
.main_content {
	width: 550px;
}
.image_hero_desktop {
	width: 460px;
}
.image_hero_mob {
	display: none;
}
.desktop_header {
	margin: 110px 0 35px 0;
	font-size: 80px;
	font-weight: 800;
	color: hsl(0, 0%, 8%);
}
.mobile_header {
	display: none;
}
.main_content h2 {
	width: 460px;
	line-height: 1.6em;
	letter-spacing: 1.7px;
	margin-bottom: 55px;
}
.main_content button {
	width: 160px;
	height: 50px;
	border-radius: 10px;
	font-weight: 800;
	color: hsl(0, 0%, 98%);
	background-color: hsl(0, 0%, 8%);
}
.main_content button:hover {
	color: hsl(0, 0%, 8%);
	background-color: hsl(0, 0%, 98%);
	cursor: pointer;
}
.company_icons {
	display: flex;
	justify-content: space-between;
	width: 500px;
	padding: 0;
	margin: 105px 0 0 0;
}
.company_icons li {
	list-style: none;
}
.audiophile_icon {
	margin-top: -10px;
}
.attribution {
	height: 20px;
	margin: 50px 0 0 160px;
}

/*Mobile screen*/
@media screen and (max-width: 400px) {
body {
	margin: 0;
}
.container {
	width: 400px;
}
.nav_login {
	left: 85px;	
}
.nav_register {
	left: 45px;
	top: 60px;
}
.nav_menu {
	position: relative;
	display: none;
	width: 260px;
	top: 0;
	left: 140px;
	height: 100vh;
	z-index: 1;
	background-color: white;
	padding-top: 30px;
}
.nav_menu_item {
	margin: 30px 0 0 30px;
}
.nav_logo {
	left: 10px;
}
.burger_menu_open {
	display: flex;
	position: absolute;
	height: 20px;
	top: 8px;
	left: 350px;
}
.burger_menu_close {
	position: absolute;
	height: 25px;
	top: 8px;
	left: 360px;
	z-index: 2;
}
.burger_grey_shaddow {
	width: 150px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.75;
	background-color: hsl(0, 0%, 8%);;
	height: 100vh;
	z-index: 1;
}
.features_menu {
	position: initial;
	box-shadow: none;
	height: 120px;
}
.company_menu {
	position: initial;
	box-shadow: none;
	height: 90px;
}
.main_content {
	width: 380px;
	margin-top: 300px;
}
.image_hero_desktop {
	display: none;
}
.image_hero_mob {
	display: flex;
	width: 400px;
	position: absolute;
	left: 0px;
	top: 75px;
}
article {
	width: 390px;
	margin-left: 10px;
}
.desktop_header {
	display: none;
}
.mobile_header {
	display: flex;
	justify-content: space-around;
	font-size: 35px;
	font-weight: 800;
	color: hsl(0, 0%, 8%);
}
.main_content h2 {
	width: 380px;
	letter-spacing: 1.2px;
	text-align: center;
	margin-bottom: 50px;
}
.main_content button {
	margin-left: 110px;
}
.company_icons {
	justify-content: space-around;
	width: 380px;
	margin-top: 65px;
}
.other_company_icons {
	width: 75px;
}
.audiophile_icon {
	margin-top: -5px;
	width: 55px;
}
.attribution {
	margin-left: 20px;
}
}